.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zero {
  font-size: 38vw;
  text-align: center;
  margin: 0;
}

.fucks {
  font-size: 30vw;
  text-align: center;
  margin: 0;
}
